{% doc %}
Renders a recursive header menu item for desktop and drawer navigation.

@param {link} link - The menu link to render
@param {string} mode - Either `desktop` or `drawer`
@param {string} parent_id - Unique id prefix for nested submenu controls
@param {number} depth - Current nesting depth
{% enddoc %}

{% assign has_children = false %}
{% if link.links and link.links.size > 0 %}
{% assign has_children = true %}
{% endif %}

{% assign submenu_id = parent_id | append: index %}
{% assign child_parent_id = submenu_id | append: '-' %}

{% if mode == 'drawer' %}
<li class="header__drawer-item{% if has_children %} header__drawer-item--has-children{% endif %}"
  data-depth="{{ depth }}" style="--drawer-depth: {{ depth }}">
  <div class="header__drawer-item-top">
    <a href="{{ link.url }}">{{ link.title }}</a>
    {% if has_children %}
    <button class="header__drawer-submenu-toggle" type="button" aria-expanded="false" aria-controls="{{ submenu_id }}">
      {% if depth == 0 %}
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="120" height="120">
        <path
          d="M0 0 C3 0.25 3 0.25 5 2.25 C5.17546482 5.26308951 5.23127445 8.18310454 5.1953125 11.1953125 C5.1924826 12.0803244 5.18965271 12.9653363 5.18673706 13.87716675 C5.1755224 16.70991412 5.1504157 19.54234784 5.125 22.375 C5.11497185 24.29296419 5.10584572 26.21093333 5.09765625 28.12890625 C5.07557889 32.83605876 5.04104045 37.54297616 5 42.25 C6.20124512 42.23952637 7.40249023 42.22905273 8.64013672 42.21826172 C13.08672112 42.18212713 17.53329248 42.15912343 21.97998047 42.14013672 C23.90643494 42.13006418 25.83287408 42.11640557 27.75927734 42.09912109 C30.52445252 42.07492759 33.289426 42.06352964 36.0546875 42.0546875 C37.3516304 42.03920364 37.3516304 42.03920364 38.67477417 42.02340698 C40.78453521 42.02300894 42.89380718 42.12734757 45 42.25 C47 44.25 47 44.25 47.25 47.25 C47 50.25 47 50.25 45 52.25 C41.98691049 52.42546482 39.06689546 52.48127445 36.0546875 52.4453125 C35.1696756 52.4424826 34.2846637 52.43965271 33.37283325 52.43673706 C30.54008588 52.4255224 27.70765216 52.4004157 24.875 52.375 C22.95703581 52.36497185 21.03906667 52.35584572 19.12109375 52.34765625 C14.41394124 52.32557889 9.70702384 52.29104045 5 52.25 C5.01571045 54.05186768 5.01571045 54.05186768 5.03173828 55.89013672 C5.06787287 60.33672112 5.09087657 64.78329248 5.10986328 69.22998047 C5.11993582 71.15643494 5.13359443 73.08287408 5.15087891 75.00927734 C5.17507241 77.77445252 5.18647036 80.539426 5.1953125 83.3046875 C5.20563507 84.1693161 5.21595764 85.0339447 5.22659302 85.92477417 C5.22699106 88.03453521 5.12265243 90.14380718 5 92.25 C3 94.25 3 94.25 0 94.5 C-3 94.25 -3 94.25 -5 92.25 C-5.17546482 89.23691049 -5.23127445 86.31689546 -5.1953125 83.3046875 C-5.1924826 82.4196756 -5.18965271 81.5346637 -5.18673706 80.62283325 C-5.1755224 77.79008588 -5.1504157 74.95765216 -5.125 72.125 C-5.11497185 70.20703581 -5.10584572 68.28906667 -5.09765625 66.37109375 C-5.07557889 61.66394124 -5.04104045 56.95702384 -5 52.25 C-6.20124512 52.26047363 -7.40249023 52.27094727 -8.64013672 52.28173828 C-13.08672112 52.31787287 -17.53329248 52.34087657 -21.97998047 52.35986328 C-23.90643494 52.36993582 -25.83287408 52.38359443 -27.75927734 52.40087891 C-30.52445252 52.42507241 -33.289426 52.43647036 -36.0546875 52.4453125 C-36.9193161 52.45563507 -37.7839447 52.46595764 -38.67477417 52.47659302 C-40.78453521 52.47699106 -42.89380718 52.37265243 -45 52.25 C-47 50.25 -47 50.25 -47.25 47.25 C-47 44.25 -47 44.25 -45 42.25 C-41.98691049 42.07453518 -39.06689546 42.01872555 -36.0546875 42.0546875 C-34.72716965 42.05893234 -34.72716965 42.05893234 -33.37283325 42.06326294 C-30.54008588 42.0744776 -27.70765216 42.0995843 -24.875 42.125 C-22.95703581 42.13502815 -21.03906667 42.14415428 -19.12109375 42.15234375 C-14.41394124 42.17442111 -9.70702384 42.20895955 -5 42.25 C-5.01571045 40.44813232 -5.01571045 40.44813232 -5.03173828 38.60986328 C-5.06787287 34.16327888 -5.09087657 29.71670752 -5.10986328 25.27001953 C-5.11993582 23.34356506 -5.13359443 21.41712592 -5.15087891 19.49072266 C-5.17507241 16.72554748 -5.18647036 13.960574 -5.1953125 11.1953125 C-5.20563507 10.3306839 -5.21595764 9.4660553 -5.22659302 8.57522583 C-5.22699106 6.46546479 -5.12265243 4.35619282 -5 2.25 C-3 0.25 -3 0.25 0 0 Z "
          fill="#000000" transform="translate(60,12.75)" />
      </svg>
      {% else %}
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        focusable="false">
        <path d="M4 2L8 6L4 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      {% endif %}
      <span class="visually-hidden">{{ 'header.open_submenu' | t }}</span>
    </button>
    {% endif %}
  </div>

  {% if has_children %}
  <ul id="{{ submenu_id }}" class="header__drawer-submenu" data-depth="{{ depth }}">
    {% for child in link.links %}
    {% render 'header-menu-item', link: child, mode: 'drawer', parent_id: child_parent_id, depth: depth | plus: 1,
    index: forloop.index0 %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% else %}
<li class="header__menu-item{% if has_children %} header__menu-item--has-children{% endif %}" data-depth="{{ depth }}">
  <div class="header__menu-link-wrap">
    <a class="header__menu-link" href="{{ link.url }}">{{ link.title }}</a>
    {% if has_children %}
    <button class="header__submenu-toggle" type="button" aria-expanded="false" aria-controls="{{ submenu_id }}">
      {% if depth == 0 %}
      <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
          fill="#000000" />
      </svg>
      {% else %}
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        focusable="false">
        <path d="M4 2L8 6L4 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      {% endif %}
      <span class="visually-hidden">{{ 'header.open_submenu' | t }}</span>
    </button>
    {% endif %}
  </div>

  {% if has_children %}
  <ul id="{{ submenu_id }}" class="header__submenu header__submenu--depth-{{ depth }} desktop-dropdown-menu"
    data-depth="{{ depth }} ">
    {% for child in link.links %}
    {% render 'header-menu-item', link: child, mode: 'desktop', parent_id: child_parent_id, depth: depth | plus: 1,
    index: forloop.index0 %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endif %}